{% extends 'base.html.twig' %}

{% block title %}Surfer index{% endblock %}

{% block body %}
<div class="content-admin-main-inner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-form-wrapper background-white p20 mb50">
                    <h1 class="page-title">Surfer index</h1>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Email</th>
                                <th>Banned</th>
                                <th>Identifiant</th>
                                <th>InscrActivated</th>
                                <th>InscriDate</th>
                                <th>UnsucessfulTry</th>
                                <th>UserType</th>
                                <th>Newsletter</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for surfer in surfers %}
                            <tr>
                                <td>{{ surfer.id }}</td>
                                <td>{{ surfer.email }}</td>
                                <td>{{ surfer.banned ? 'Yes' : 'No' }}</td>
                                <td>{{ surfer.identifiant }}</td>
                                <td>{{ surfer.inscrActivated ? 'Yes' : 'No' }}</td>
                                <td>{{ surfer.inscriDate ? surfer.inscriDate|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ surfer.unsucessfulTry ? 'Yes' : 'No' }}</td>
                                <td>{{ surfer.userType }}</td>
                                <td>{{ surfer.newsletter ? 'Yes' : 'No' }}</td>
                                <td>
                                    <a href="{{ path('surfer_admin_show', {'id': surfer.id}) }}">show</a>
                                    <a href="{{ path('surfer_admin_edit', {'id': surfer.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="16">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('surfer_admin_new') }}">Create new</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
