{% extends 'base.html.twig' %}

{% block title %}Internship{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-8">
        <div class="contact-form-wrapper background-white p20 mb50">
            <h1 class="page-title">Internship</h1>

            <table class="table mb0">
                <tbody>
                    <tr>
                        <th scope="row">Id</th>
                        <td>{{ internship.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">ShowDate</th>
                        <td>{{ internship.showDate ? internship.showDate|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">ShowUntil</th>
                        <td>{{ internship.showUntil ? internship.showUntil|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Begin</th>
                        <td>{{ internship.begin ? internship.begin|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ internship.description }}</td>
                    </tr>
                    <tr>
                        <th scope="row">End</th>
                        <td>{{ internship.end ? internship.end|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">MoreInfo</th>
                        <td>{{ internship.moreInfo }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ internship.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        <td>{{ internship.price }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('internship_index') }}">back to list</a>

            <a href="{{ path('internship_edit', {'id': internship.id}) }}">edit</a>

            {{ include('internship/_delete_form.html.twig') }}

        </div><!-- /.contact-form-wrapper -->
    </div>
</div>
{% endblock %}
