{% extends 'base.html.twig' %}

{% block title %}Provider index{% endblock %}

{% block body %}
<div class="content-admin-main-inner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-form-wrapper background-white p20 mb50">
                    <h1 class="page-title">Provider index</h1>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>AdresseNum</th>
                                <th>AdresseStreet</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for provider in providers %}
                            <tr>
                                <td>{{ provider.name }}</td>
                                <td>{{ provider.email }}</td>
                                <td>{{ provider.adresseNum }}</td>
                                <td>{{ provider.adresseStreet }}</td>
                                <td>
                                    {% for category in provider.category %}
                                        {{ category.name }}
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ path('provider_profile_show', {'id': provider.id}) }}">show</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="18">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
